<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Tiago Tabosa", "https://linkedin.com/in/tiago-tabosa", class: "text-white" %> </small>
  </div>
</footer>